// Logiops (Linux driver) configuration for Logitech MX Master 3S.
// Includes gestures, smartshift, DPI.
// File location: /etc/logid.cfg

devices: (
  {
    name: "MX Master 3S";

    smartshift: {
      on: false;  // Turn off magnetic scrolling by default
      threshold: 15;
    };

    hiresscroll: {
      hires: true;
      invert: false;
      target: false;
    };

    dpi: 1100; // max=4000

    buttons: (
      // Forward button
      {
        cid: 0x56;
        action: {
          type: "Gestures";
          gestures: (
            {
              direction: "None";
              mode: "OnRelease";
              action: {
                type: "Keypress";
                keys: [ "KEY_FORWARD" ];
              }
            }
          );
        };
      },

      // Back button
      {
        cid: 0x53;
        action: {
          type: "Gestures";
          gestures: (
            {
              direction: "None";
              mode: "OnRelease";
              action: {
                type: "Keypress";
                keys: [ "KEY_BACK" ];
              }
            }
          );
        };
      },
      
      // Thumb button
      {
        cid: 0xc3;
        action: {
          type: "Gestures";
          gestures: (
            // Activity
            {
              direction: "None";
              mode: "OnRelease";
              action: {
                // Shortcut for Ubuntu to show workspaces
                type: "Keypress";
                keys: [ "KEY_LEFTMETA" ];
              }
            },

            // Navigate between workspaces
            {
              direction: "Right";
              mode: "OnRelease";
              action: {
                type: "Keypress";
                keys: [ "KEY_LEFTALT", "KEY_LEFTCTRL", "KEY_LEFT" ];
              }
            },

            // Navigate between workspaces
            {
              direction: "Left";
              mode: "OnRelease";
              action: {
                type: "Keypress";
                keys: [ "KEY_LEFTALT", "KEY_LEFTCTRL", "KEY_RIGHT" ];
              }
            }
          );
        };
      }
    );
  }
);
